logging.level:
  org.zalando.logbook: INFO

spring:
  output:
    ansi.enabled: always
  sql:
    init.mode: always
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  datasource:
    url: jdbc:postgresql://db:5432/shareit
    driverClassName: org.postgresql.Driver
    username: postgres
    password: postgres